.start {
  background-color: #46bc9b;
  height: 650px;
  padding-bottom: 50px;
}
.imageDiv{
  display: flex;
  justify-content:center ;
}
img{
  height: 300px;
  width: 300px;
  margin-top: 60px;
}
.start p {
  color: white;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 40px;
}
svg{
  color: white !important;
  font-size: 20px;
}
.iconContainer{
  position: relative !important;

}
.leftLine::after{
  content: " ";
  position: absolute !important;
  width: 100px;
  height: 3px;
  background-color: white !important;
  z-index: 4;
  top: 10px;
  right: 40%;
}
.rightLine::after{
  content: " ";
  position: absolute !important;
  width: 100px;
  height: 3px;
  background-color: white !important;
  z-index: 4;
  top: 10px;
  left: 40%;
}
